<body>
    <link rel="stylesheet" href="/css/stylesRegistrateLogin.css">
    <form action="/" method="GET" class="create-form">
<div class="formulario-de-registro">
<h5 class="titulo-form">Acceder a tu cuenta</h5>
<p class= "parrafo-form">De esta forma podes hacer pedidos y visitar todo nuestro catálogo</p>
</div>
<div class="control-formulario">
        <label>Email<span>*</span></label>
<input type="text" name="email" class="control">
</div>
    <div class="control-formulario">
        <label>Contraseña<span>*</span></label>
<input type="password" name="password" maxlenght="20" class="control">
</div>
<div>
    <div>
        <div>
            <button type="submit" name="boton-formulario" class="boton-formulario">Acceder</button> 
    </div>
    <div>
        <a class="registrate" href="/register">Registrate</a>
    </div>    
    <div>
        <a class="olvidaste" href="cuenta-olvida-pass.php">¿Olvidaste tu contraseña?</a>
    </div>
</div>
    </form>