<footer class="footer">
  <div>
    <a href="https://www.facebook.com/" target="_blank">
    <span class="social-icon"> <i class="fa-brands fa-facebook"></i></span> 
  </a>
  <a href="https://twitter.com/" target="_blank">
    <span class="social-icon"> <i class="fa-brands fa-twitter"></i></span>
    </a>
    <a href="https://www.instagram.com/" target="_blank">
    <span class="social-icon"> <i class="fa-brands fa-instagram"></i></span> 
    </a>
  </div>
    <p><span class="lorenzo"> </span> Lorenzo Annecchini S.A.</p>
    <p class="copyright"> <span> <i class="fa-regular fa-copyright"></i></span> Todos Los Derechos Reservados</p>
  </footer>