<header>
 <% if (locals.isLogged) { %> 
    <div class="logo-iconos">
      <div class="logo">
      <a href="/">
      
        <img src="/images/logo.png" alt="logo" >
      </a>
      </div>

      <div class="iconos">
        <div class="login-icono">
          <a href="/user/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>

        <div class="login-icono">
          <a href="/products">
            <i class="fa-solid fa-shop"></i>
          </a>
        </div>
        
        <div class="login-icono">
         
          <i id="burguer" class="fas fa-bars"></i>
        </div>
<!-- 
        <div class="login-icono">
          <a href="/productCart">
            <i class="fa-duotone fa-cart-shopping-fast"></i>
        </a>
        </div> -->
        <h3 class="hola">Hola <%= locals.userLogged.firstName%></h3>
        <a>
        <img src="/images/users/<%= locals.userLogged.avatar %>" width="50" style="border-radius: 100%;">
        </a>
   

        <div class="logout">
          <p>Logout</p>
          <a href="/user/logout">
          <i class="fa-solid fa-right-from-bracket" width="50" ></i>
          
        </a>
        </div>
       
      </div>
    </div>    
 <% } else { %>
  <div class="logo-iconos">
    <div class="logo">
    <a href="/">
    
      <img src="/images/logo.png" alt="logo" >
    </a>
    </div>

    <div class="iconos">
      <div class="login-icono">
        <a href="/user/login">
          <i class="fa-solid fa-user"></i>
        </a>
      </div>
      <div class="login-icono">
        <a href="/products">

          <i class="fa-solid fa-shop"></i>
        </a>
      </div>
      <div class="login-icono">
        
        <i id="burguer" class="fas fa-bars"></i>
      </div>
    
    </div>
  </div>    
  <% } %>

  </header>