<header>
    <div class="logo-iconos">
      <div class="logo">
        <img src="images/logo.png" alt="logo" />
      </div>

      <div class="iconos">
        <div class="login-icono">
          <a href="/login">
            <i class="fa-solid fa-user"></i>
          </a>
        </div>
        <div class="login-icono">
          <a href="/productCart">
            <i class="fa-solid fa-shop"></i>
          </a>
        </div>
        <div class="login-icono">
          <i id="burguer" class="fas fa-bars"></i>
        </div>
      </div>
    </div>    
  </header>