* {
  box-sizing: border-box;
  
  
}
body {
  background-image: url(/public/images/design-space-paper-textured-background.jpg);
  background-color: rgba(231, 225, 225, 0.799);
 
}


header {
  /*background-color: rgb(231, 223, 223);*/
}
.logo img {
  margin: 2%;
  width: 7em;
  
  
}


.logo {
  display: flex;
  
  width: 10%;
  margin: 2%;
  padding: 0.8%;  
  align-items: center;
  justify-content: center;
  border-radius: 24px;
background: #e0e0e0;
box-shadow: inset 5px 5px 9px #828282,
            inset -5px -5px 9px #ffffff;
  
}

.logo-iconos {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

/* p,
h1 {
  font-family: "Barlow Condensed", sans-serif;
} */

ul {
  list-style: none;
  margin-left: -10%;
}

.iconos {
  width: 40%;
  margin-left: 100px;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  border-radius: 24px;
background: #e0e0e0;
box-shadow: inset 5px 5px 9px #828282,
            inset -5px -5px 9px #ffffff;
}

.main-article {
  width: 100%;
  margin-bottom: 5px;
  border-top: solid 2px;
}

.login-icono {
  font-size: 40px;
  
  padding-top: 5px;

}

.login-cart {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

img.banner {
   
  width: 98%;
  height: 400px;
  
  object-fit: cover;
  border-radius: 50px;
background: #e0e0e0;
box-shadow:  -5px -5px 10px #6e6e6e,
             5px 5px 10px #ffffff;
   
    
  
  
}

section {
  padding: 1%;
  margin-top: 0%;
  margin-bottom: 2%;
}

.nosotros {
  border-radius: 24px;
background: #e0e0e0;
box-shadow: inset 5px 5px 9px #828282,
            inset -5px -5px 9px #ffffff;

}

body {
  
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.productos {
  margin: 15px;
  padding: 50px;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.articulos {
  width: 40vw;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 180px;
}

.imagenes {
  width: 400px;  
  background-color: rgb(231, 223, 223);
  border-radius: 50px;
background: linear-gradient(145deg, #f0f0f0, #cacaca);
box-shadow:  5px 5px 12px #6e6e6e,
             -5px -5px 12px #ffffff;
}

.titulares {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.precios {
  font-size: 18px;
}

.descuentos {
  font-size: 16px;
}

.descripciones {
  font-size: 16px;
}

#burguer {
  font-size: 35px;
}

footer {
  background: #000128;
  color: white;
  display: flex;
  padding: 10px 0px 10px 30px;
  align-items: center;
  justify-content: space-around;  
  width: 100%;
  border-radius: 24px;

box-shadow:  -5px 5px 9px #828282,
             5px -5px 9px #ffffff;
}

.titulos-footer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.descripciones-footer {
  font-size: 12px;
  text-align: center;
}


.copyright{
  padding-left: 80px;
  
}
.copyright i{
  font-size: 20px;
  padding-right: 5px;
}


.lorenzo{
  display: flex;
  text-align: center;
}

.social-icon{
  padding-right: 30px;
  font-size: 30px;
  color: white;

}




/*--------Produc Detail--------*/




.container-CenterImage img {
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  
}

.container-bottomImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-bottomImages img {
  width: 100px;
  height: 100px;
  margin: .3em;
  
}
.description-article{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-article p {
  padding: .5em;
  text-align: center;
}

.productForm{
  display: flex;
}

.productForm .container {
  display: flex;
}

.productForm input{
  max-width: 20px;
  text-align: center;
}

.buttonDetalle{
  color:white;
  background-color: goldenrod;
  font-weight: 400;
  font-size: 15px;
}
.buttonEdit{
  color:black;
  background-color: yellow;
}
.buttonDelete{
  color:black;
  background-color: red;
  font-weight: 400;
  font-size: 15px;
}
.buttonCrearProducto{
  color:black;
  font-size:35px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  background-color: yellowgreen;
}

/*-------------ProductCart---------------

header {
  background-color: white;
}

.logo-iconos {
  display: flex;
  text-decoration: none;
}

.logo {
  background-color: black;
  width: 50%;
}

p,
h1 {
  font-family: "Barlow Condensed", sans-serif;
}

ul {
  list-style: none;
  margin-left: -10%;
}

.iconos {
  width: 40%;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
}

.main-article {
  width: 100%;
  margin-bottom: 5px;
  border-top: solid 2px;
}

.login-icono {
  font-size: 40px;
}

.login-cart {
  font-size: 30px;
  color: black;
}

.banner {
  width: 100%;
  height: 400px;
}

body {
  background-color: rgba(231, 225, 225, 0.799);
}
.productos {
  margin: 15px;
  padding: 50px;
}

.articulos {
  width: 80vw;
  margin: auto;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 10px;
 
}

.imagenes {
  width: 100px;
  border-radius: 30px;
}

.titulares {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.precios {
  font-size: 18px;
}

.descuentos {
  font-size: 16px;
}

.descripciones {
  font-size: 16px;
}

#burguer {
  font-size: 35px;
}

footer {
  background: #000128;
  color: white;
}

.titulos-footer {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.descripciones-footer {
  font-size: 12px;
  text-align: center;
}

nav {

  font-size: 24px;
  text-align: left;
  display: inline;
  text-decoration: none;


}

article{


  display: flex;
  background-color: aqua;
  margin-block-end: 10px;
  padding: auto;
}

h1{

  text-align: center;
}

h4{

  text-align: right;
}

.botonFucsia {
  color: rgb(120, 28, 60);

position: fixed;
right: 50px;
bottom: 50px;

}

.cruz{
  color: rgb(120, 28, 60);

position: fixed;
right: 50px;
bottom: 50px;




}
*/