.create-form{
    padding:20px 15px;
    border: 10px, black dashed;
    text-align:center

}
.parrafo-form{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}
.titulo-form{
    font-size: 24px;
    margin: 10px;
    }

.control-formulario{
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block
}
.control{
    width:40%;
    padding:8px;
    border: none;
    
    border-radius: 24px;
background: #e0e0e0;
box-shadow: inset 8px 8px 16px #828282,
            inset -8px -8px 16px #ffffff;
}
control{
    width:40%;
    padding:8px;
    border: none;
    
    border-radius: 24px;
background: #e0e0e0;
box-shadow: inset 8px 8px 16px #828282,
            inset -8px -8px 16px #ffffff;
    font-size: 10px;
    color:blue
}


.boton-formulario{
    margin-left: 10px ;
    border: none; 
    
    
   border-radius: 5px;
   margin-bottom: 20px;
font-size:20px;
border-radius: 12px;
background: #e0e0e0;
box-shadow:  5px 5px 10px #828282,
             -5px -5px 10px #ffffff;
}
.boton-formulario:hover{
    background-color:#0022AA;
    color:white;
    border-radius: 5px
}

.formulario-de-registro{
    
    padding: 2px;    
    margin-bottom: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;    
    border-radius: 12px;
background: #e0e0e0;
box-shadow: inset 5px 5px 10px #828282,
            inset -5px -5px 10px #ffffff;
    
}
.olvidaste{
    font-size: 16px;
    font-weight: 600;
}
.text-danger{
    color:red;
}
