<h1>Editar producto</h1>

<form action="/products/<%= products.id %>?_method=PUT" method="POST">

    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" value="<%= products.name %>">

    <label for="description">Descripción:</label>
    <input type="text" name="description" id="description" value="<%= products.description %>">

    <label for="price">Precio:</label>
    <input type="number" name="price" id="price" value="<%= products.price %>">

    <button type="submit">Editar</button>

</form>