<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Formulario de creación'}) %>
<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div>
			<div>
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
		</div>

		<div class="">
			<form action="/products" method="POST" enctype="multipart/form-data">
				<div class="row product-detail">
					<div>
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Servilletas" class="form-input">
					</div>
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 2500" class="form-input">
					</div>
					
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input"></textarea>
					</div>
					<div>
						<button type="submit" class="buy-now-button">Guardar producto</button>
					<label for="imagen">Adjunta una imagen</label>
					<input type="file" name="image" id="image">
					
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>