<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productCart.css">


<%- include('./partials/head') %>

<%- include('./partials/headerNoBanner') %>


<body>

    <head>    
    </head>
    <nav>
        <div>
            <a href='#'>PAPELERIA</a>
            <a href='#'>BOLSAS</a>
            <a href='#'>CARTONERIA</a>
            <a href='#'>SERVILLETAS</a>
           
            </div>
            <div>
                
    
            </div>
        
    </nav>

    <h1>TU CANASTA</h1>
    <h4>total</h4>




    <footer></footer>
    <section></section>
    <article>
        <img src="img/papeles.jpeg" alt="papeleria" class="imagenes">
        <div class="mail-article">
            <span i class="fas fa-truck"></i>
            <p class="price">$10.000</p>
            <h4 class="description">Sulfito A</h4> 

    </div>

        
    </article>

    <article>
        <img src="img/cartoneria.jpg" alt="papeleria" class="imagenes">
        <div class="mail-article">
            <i class="fas fa-truck"></i>
            <p class="price">$5.000</p>
            <h4 class="description">Bandeja pesada.</h4>
            <i class="fa-thin fa-circle-xmark">cruz</i>

        </div>
    </article>

    <article>
        <img src="img/servilletas.jpeg" alt="papeleria" class="imagenes">
        <div class="mail-article">
            <i class="fas fa-truck"></i>
            <p class="price">$1.000</p>
            <h4 class="description">18 x 18 CRYSTAL</h4>

        </div>
    </article>

    <div class="botonFucsia">botonFucsia</div>
    
    
    
    <script>src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"</script>
    
</body>
<%- include('./partials/footer') %>


</html>