<h1>Editar producto</h1>

<form action="/products/detail/<%= editarProduct.id %>?_method=PUT" method="POST" enctype="multipart/form-data">

    
    <label for="name">Nombre:</label>
    <input type="text" name="name" id="name" value="<%= editarProducto.name %>">

    <label for="description">Descripción:</label>
    <input type="text" name="description" id="description" value="<%= editarProducto.description %>">

    <label for="price">Precio:</label>
    <input type="number" name="price" id="price" value="<%= editarProducto.price %>">
<br>
	<label for="imagen">Adjunta una imagen</label>
						<input type="file" name="imagen" id="imagen">


    <button type="submit">Editar</button>

</form>