<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Formulario de Registro</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/ff8b422c2c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/stylesRegistrateLogin.css">
    
    </head>
<body>

<div class="formulario-de-registro">
    <h2 class="titulo-form">¿No tenes tu cuenta? Registrate</h2>
<p class="parrafo-form">Registrarse tarda solo unos segundos y otorga acceso a todo nuestro catálogo</p>
</div>
</div>

<form action="/register" method="POST"  enctype="multipart/form-data">

    <div class="field">
        <label for="first_name">Nombre</label>
        <div class="control">
            <input type="text" name="first_name" id="first_name">
        </div>
        <p class="feedback"></p>
    </div>

     <div class="field">
        <label for="last_name">Apellido</label>
        <div class="control">
            <input type="text" name="last_name" id="last_name">
        </div>
        <p class="feedback"></p>
    </div>

    <div class="field">
        <label for="email">Email</label>
        <div class="control">
            <input type="text" name="email" id="email">
        </div>
        <p class="feedback"></p>
    </div>

    <div class="field">
        <label for="password">Password</label>
        <div class="control">
            <input type="password" name="password" id="password">
        </div>
        <p class="feedback"></p>
    </div>

    <div>
        <label><b>Imagen de perfil</b></label>
        <input class="" type="file" name="avatar"> 
    </div>

    <div class="field">
        <label for="category">Categoría</label>
        <div class="control">
            <select name="category" id="category">
                <option value="">Seleccione una opción</option>
                <option value="vendedor">Vendedor</option>
                <option value="comprador">Comprador</option>
            </select>
        </div>
        <p class="feedback"></p>
    </div>

 -->
    <div class="field">
        <div class="control">
            <button type="submit">Crear usuario</button>
        </div>
    </div>

 </form>
 </body>
 </html>